.EditableItem {
    height: 30px;
}

.ObjectEditableItem-Text {
    height: 100%;
    width: 300px;
    border: none;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    font-size: 13pt;
}

.EditableItem-Button {
    height: 30px;
    width: 30px;
    background-color: white;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    color: grey;
    font-size: 13pt;
}

.EditableItem-Button_add:hover {
    color: black;
}

.EditableItem-Button_remove:hover {
    color: orangered;
}
